$black: #000;
$gray: #5d5d5f;
$light-gray: #aeaeaf;
$bluish-gray: #576387;
$deepblue: #0f0258;
$medium-blue: #06029e;
$lightblue: #510fe8;
$bright-red: #ff0000;
$white-gray: #e0e0e0;
$white: #fff;

$transparent: rgba(0, 0, 0, 0)
