@import "colors";

//menu
$burger-color1: $deepblue;
$burger-color2: $white;
$top-navbar-background: $deepblue;
$top-navbar-text: $white;
$navbar-background: $lightblue;
$navbar-button: $bluish-gray;
$navbar-text1: $white;
$navbar-text2: $bluish-gray;

$sidebar-background: $deepblue;
$sidebar-hover-background: $bluish-gray;


//partials

//props
$carousel-width: 70vw;
$carousel-height: 35vh;

//views


//Global
$text-color1: $white;
$text-color2: $black;
$main-background1: $white;
$button-background: $bluish-gray;
$session-message-background: $bluish-gray;
$session-message-color: $white;
$heading-color: $bluish-gray;

//global form
$facebook-btn-background: #4267B2;
$facebook-btn-deeper-background: #3257A2;

$google-btn-background: #DB4437;
$google-btn-deeper-background: #CB3427;
